* {
	font-size: 20px;
	margin:0px;
	padding:0px;
	border:0px;
}
/*
.bar rect {
	fill:green;
}
*/
.bar text {
	fill:white;
}

/*
.barChart {
	min-height: 20em;
}
*/

#barChart {
	background-color: #3399CC;
	position: fixed;
	height: 100%;
	width: 100%;
}
