* {
	font-size: 20px;
	margin:0px;
	padding:0px;
	border:0px;
}
#pieChart {
	background-color: #3399CC;
	position: fixed;
	height: 100%;
	width: 100%;
	/*display:none;*/
}
.bars text, #chartTitle text{
	fill:white;
}

#choose text{
	fill:rgba(256,256,256,0.7);
}

#chartTitle text{
	font-size: 2em; 
}

